* {
    background-color: black;
    margin: 0;
    padding: 0;

}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 10px; /* Gap between the circles */
    position: relative;
    margin-top: 100px;
}

.layerOne {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 70px;
}

.layerTwo {
    display: flex;
    justify-content: center;
    gap: 340px;
    margin-top: -10px;
}

.layerThree {
    display: flex;
    justify-content: center;
    gap: 140px;
    margin-top: -25px;
}

.layerFour {
    display: flex;
    justify-content: center;
    gap: 430px;
    margin-top: -40px;
}

.circlesmall {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    background-color: bisque;
}

.circlemedium {
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background-color: bisque;
}

.circlebig {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: bisque;
}

.connectorLayerOneRight{
    height: 10px;
    width: 50px;
    background-color: aliceblue;
    rotate: 45deg;
}

.lines{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.connectorLayerOneLeft{
    position: relative;
    margin-trim: ;
}

.firstcircle{
    display: flex;
    justify-content: center;
}

#downloads {

}

#github {

}

#team {

}

#about {

}

#documentation {

}

#contact {

}

/* Add media queries for responsiveness */

/* For screens smaller than 600px wide */
@media screen and (max-width: 600px) {
    .circlesmall {
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: bisque;
    }
    
    .circlemedium {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background-color: bisque;
    }
    
    .circlebig {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-color: bisque;
    }
    
}

/* Add more media queries for other screen sizes as needed */

